params {

    outdir                  =           "np_assembly"

    ont                     =           "*.fq"
    quality                 =           7
    length                  =           200
    subsample               =           100
    assembler               =           "flye"
    opts                    =           "--plasmids"
    genome_size             =           "5.5m"
    medaka_model            =           "r941_min_high_g330"

    illumina                =           "*_{1,2}.fastq.gz"
    illumina_assembler      =           "spades"

}

process {

    scratch = true
    errorStrategy = "ignore"

    
    withLabel: ont {
        cpus = 8
        memory = "16G"
        time = "24h"
    }
    withLabel: assembly {
        cpus = 32
        memory = "32G"
        time = "24h"
    }
    withLabel: shovill {
        cpus = 24
        memory = "32G"
        time = "24h"
    }
    withLabel: medaka {
        cpus = 32
        container = "$baseDir/np-medaka.sif"
        memory = "32G"
        time = "24h"
    }
    withLabel: racon {
        cpus = 32
        memory = "32G"
        time = "24h"
    }
    withLabel: trimmomatic {
        cpus = 16
        memory = "16G"
        time = "24h"
    }
    withLabel: pilon {
        cpus = 32
        memory = "32G"
        time = "24h"
    }

}

profiles {
    local {
    
        singularity.enabled = true
        singularity.autoMounts = true

        process.executor = "local"
        process.container = "$baseDir/np-assembly.sif"
    }
    cluster {
    
        singularity.enabled = true
        singularity.autoMounts = true

        process.executor = "pbspro"
        process.container = "$baseDir/np-assembly.sif"

    }
}
